body {
  padding: 4.8rem;
}

.container {
  color: var(--dark-40);
  position: relative;
  font-family: Open Sans, sans-serif;
}

.container + .container {
  margin-top: 6rem;
}

.container h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  text-align: left;
  position: relative;
  margin-bottom: 40px;
}

.container h1::after {
  content: " ";
  width: 6rem;
  border-bottom: 5px solid var(--brand-color);
  position: absolute;
  bottom: -15px;
  left: 0px;
}

.container button {
  z-index: 5;
  position: absolute;
  border: none;
  background: none;
  border-radius: 0.2rem;
  padding: 3rem 1rem;
  top: calc(50%);
  cursor: pointer;
}

.container button:hover {
  background: #ffffff50;
}

.container button svg {
  height: 4rem;
  fill: var(--brand-color);
}

.movies-slider {
  overflow: hidden;
}
.nextBtn {
  right: 0;
}

.movies-wrapper {
  display: flex;
  gap: 2rem;
}

.movie-card {
  user-select: none;
  cursor: pointer;
  padding: 2.4rem;
  min-width: 30rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  justify-content: flex-end;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -100px 100px 30px black;
  -moz-box-shadow: inset 0px -100px 100px 30px black;
  box-shadow: inset 0px -100px 100px 30px black;
}

.movie-card .movie-rating {
  position: relative;
  width: 150px;
  height: 25px;
}

.filled,
.unfilled {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 150px;
}

.unfilled {
  background-image: url("../img/RatingUnfilled.png");
}
.filled {
  background-image: url("../img/RatingFilled.png");
}

.movie-card .movie-title {
  font-size: 2.4rem;
  font-weight: 80rem;
  line-height: 3.2rem;
}
