
#title, .content_populares{
    width: 155px;
    height: 44px;
    color: var(--dark-40);
    
}

.content_populares{
    font-size: 2rem;
    margin-left: 1.5rem;
    display: inline;
}

.linha {
    position:inherit;
    width: 61px;
    height: 3px; 
    background-color: var(--brand-color);
    margin-left: 1.5rem;
}


.card {
    position: relative;
    cursor: pointer;
    width: 160px;
}



.img-poster {
    filter: grayscale(30%) brightness(60%);
}

.title-category {
    color: var(--brand-color);
    padding: 4px 8px;
    background: var(--dark-10);
    display: inline;
    text-align: center;
    border-radius: 0px 8px;
    font-size: 12px;

}

.card-content {
    position: absolute;
    right: auto;
    top: 65%;
    padding-left: 4px;
    bottom: 0;
    text-align: justify;
}

.icon-star {
    margin: 15px 0px 14px 0px;
}

.card-title {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.card-slider {
    display: flex;
    overflow: hidden;
    width: 100%;

}


.buttonPrev {
position: relative;
bottom: 17rem;
left: 5px;

}

#containerButton {

    display: flex;
    justify-content: space-between;

}


#prevBtn,
#nextBtn {
    color: var(--dark-30);
    opacity: .2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 22px 10px;

}


.img-poster {
    width: 160px;
    height: 240px;

}

.container {
    margin-top: 2rem;
}

.container:first-child {
    margin-left: 1rem;
}

@media (max-width: 600px) {
    .container {
       width: 95%;
    }
}

/* cards: 

height: 261px;
width: 174px;

*/